[user]
  useConfigOnly = true
[push]
  default = simple
[color]
  ui = true
[core]
  editor = vim
  excludesfile = /Users/juhwon/.gitignore_global
  pager = diff-so-fancy | less --tabs=4 -RFX
[diff]
  compactionHeuristic = true

[alias]
	undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"
	graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
	cleanup = "!f() { git remote prune origin; git branch --list --format \"%(if:equals=[gone])%(upstream:track)%(then)%(refname)%(end)\" | sed 's,^refs/heads/,,;/^$/d' | xargs git branch -D ; }; f"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
