[user]
  useConfigOnly = true
[push]
  default = simple
[color]
  ui = true
[core]
  editor = vim
  excludesfile = /Users/juhwon/.gitignore_global
  ui = true
[diff]
  cimpactionHeuristics = true

[alias]
  undo = "!f() { \\\n    git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; \\\n}; f"

