[user]
  useConfigOnly = true
[push]
  default = simple
[color]
  ui = true
[core]
  editor = vim
  excludesfile = /Users/juhwon/.gitignore_global
  ui = true
[diff]
  compactionHeuristic = true
[core]
  pager = diff-highlight | less -r
[alias]
  undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"
  graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
